.body {
    background-color: gray;
}
.container {
    
    background-color: #181818;
    max-width: 1920px;
    max-height: 125px;
    
}
.header-row {
    display: flex;
    justify-content: center;
    padding: 49px 12px;
}
.arenda {
    margin-right: 10px;
    margin-top: -0.5px;
    font-size: 22px;
    line-height:28px;
    color: white;
}
.content-2 {
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    width: 178px;
    height: 38px;
}
.header-text {
    text-decoration: none;
    text-align: center;
    justify-content: center;
}
.header-text ul  {
    display: flex;
    justify-content: center;
    text-align: center;
}
.header-text li a {
    text-align: center;
    text-decoration: none;
    color: white;
    justify-content: center;
    padding:30px;
}
.img-soc {
    width: 48px;
    height: 19px;
}
.img-2 {
    width: 104px;
    height: 46px;
    margin-left: 40px;
}
.header-tel {
    justify-content: center;
    text-align: center;
    text-decoration: none;
    margin-right: 100px;
}
.bth {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: white;
    border: 1px solid grey;
    margin-left: 300px;
    margin-top: -50px;
}
.container-2 {
    max-width: 1920px;
}
.img-3 {
    max-width: 1920px;
    height: 966px;
}
.text-center {
    display: flex;
    justify-content: center;
    margin-top: -900px;
    font-size: 89px;
    line-height: 91px;
    color: white;
}
.text-center2 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    line-height: 32px;
    color: white;
}
.hr {
    text-align: center;
    display: flex;
    justify-content: center;
    border: 1px solid #ffffff 30%;
    position: absolute;
    width: 1320px;
    margin-top: 100px;
    margin-left: 250px;
}
.info-number{
    display: grid;
    grid-template-columns: repeat(5,300px);
    margin-top: 200px;
    color: white;
}
.number-1 {
   margin-left: 250px;
   margin-top: -20px;
}
.number1 {
    margin-right: 50px;
    margin-top: -20px;
}
.number-2 {
    margin-right: 70px;
    margin-top: -40px;
 }
 .number2 {
     padding: 0 40px;
     margin-top: -30px;
     
 }
 .number-3 {
    margin-top: -30px;
 }
 .number3 {
    margin-left: 50px;
    margin-top: -30px;
 }
 .number-4 {
    margin-top: -10px;

 }
 .number4 {
    margin-left: 1250px;
    margin-top: -45px;
 }
 .number-5 {
    margin-left: 1150px;
    margin-top: -30px;
 }
 .number5 {
    margin-left: 910px;
    margin-top: -30px;
 }
.content3 {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    max-width: 1320px;
    height: 71px;
    padding: 80px 0px;
    position: absolute;
    margin-left: 300px;
    margin-top: 100px;
}
.bth1{
    background-color: white;
    margin-right: 100px;
    margin-top: 60px;
    text-decoration: none;
    color: #A4A4A4;
    padding: 30px 40px;
    justify-content: center;
}

.bth2 {
    background-color: white;
    margin-right: 40px;
    text-decoration: none;
    color: #A4A4A4;
    padding: 30px 40px;
    justify-content: center;
}
.text-logo {
    display: flex;
    margin-top: -80px;
    text-align: center;
}
.bth-2 {
    background-color: #B8860B	;
    color: white;
    margin-left: 70px;
    padding: 10px 25px 25px;
    text-decoration: none;
    justify-content: center;
}
.table {
    display: grid;
    margin-top: 800px;
    grid-template-columns: repeat(5,300px);
}
.img-8 {
    display: flex;
    margin-top: 70px;
}
 
.text-logo2{
    display: flex;
    font-size: 48px;
    line-height: 62px;
    margin-left: 150px;
    margin-top: -170px;
}
.content {
    display: grid;
    grid-template-columns: repeat(3,500px);
    justify-content: center;
    
}
.grid1 {
    display: block;
    width: 424px;
    height:354px;
    background-color:whitesmoke ;
    text-align: center;
    margin-top: 50px;
    padding: 0 24px;
}
.car1 {
    margin-top: 30px;
}
.m-img {
    width: 59px;
    height: 27px;
    margin-left: 380px;
    margin-top: 290x;
}
.d-img {
    width: 59px;
    height: 27px;
    margin-left: 380px;
    margin-top: -290x;
}
.text-car1 {
    font-size: 20px;
    line-height: 20px;
    color: black;
    margin-right:180px ;
}
.center1 {
    margin-right: 90px;
}
.hr2 {
    width: 324px;
    border: 1px solid #EBEBEB;
    margin-top: 20px;
}
.bth-car1 {
    background-color: #9F7437 ;
    text-decoration: none;
    color: white;
    padding-top: 50px;
    padding: 8px 22px;
    margin-right: 150px;
    
}
.arenda-car1 {
    margin-left: 170px;
    margin-top: -20px;
    color: black;
    font-size: 20px;
    line-height: 20px;
}
.table-1 {
    margin-top: 100px;
    padding-left: 200px;
    justify-content: center;
}

.table2 {
    padding-left: 200px;
}
.table3 {
    padding-left: 200px;
}
.text-info {
    font-size: 28px;
    line-height: 38px;
    color: black;
    display: flex;
    justify-content: center;
}
.text-info2{
    display: flex;
    font-size: 18px;
    line-height: 24px;
    color: #9F9F9F;
    justify-content: center;
}

.logo2 {
    display: flex;
    margin-top: -700px;
    color: white;
    font-size: 48px;
    line-height: 62px;
    margin-left: 200px;
}
.info1 {
    display: flex;
    margin-left: 200px;
    font-size: 28px;
    line-height: 32px;
    color: white;
}
.info2 {
    font-size: 18px;
    line-height: 30px;
    color: white;
    margin-left: 200px;
}
.menu1 {
    justify-content: center;
    margin-top: -300px;
    margin-left: 1200px;
    padding: 60px 40px;
    position: absolute;
}

.bth3 {
    padding: 20px 0 ;
    text-decoration: none;
    color: #181818;
    display: flex;
    border: 2px solid white;
    background-color:white;
    padding: 20px 40px;
}
.bth4 {
    
    border: 2px solid white;
    color: #A4A4A4;
    display: flex;
    text-decoration: none;
    padding: 20px 40px;
    
}
.bth5{
    color: #ffffff;
    border: 2px solid white;
    text-decoration: none;
    padding:20px 50px;
    margin: 20px 40px;
    
}
.img-9 {
    display: flex;
    margin-left: 1240px;
}
.text-img {
    display: flex;
    color: white;
    margin-left: 1280px;
    margin-top: -20px;
    text-align: center;
    
}
.text-logo3 {
    font-size: 48px;
    line-height: 62px;
    color: black;
    margin-top: 300px;
    justify-content: center;
    margin-left: 190px;
}
.block2 {
    display: grid;
    grid-template-columns: repeat(2,900px);
    justify-content: center;

}

.content-grid1 {
    padding-left: 100px;
    background-color: whitesmoke;
    width: 648px;
    height: 500px;
    padding: 0px 20px;
    margin-left: 180px;
}
.content-grid2 {
    padding-left: 100px;
    background-color: whitesmoke;
    width: 648px;
    height: 500px;
    padding: 0px 20px;
    
 }
.img-10 {
    width: 648px;
    height: 391px;
}
.text-log {
    font-size: 20px;
    line-height: 20px;
    color: black;
}
.info3 {
    font-size: 16px;
    line-height: 18px;
    color: #989898;
}