body {
  background-color: whitesmoke;
}

.container {
  background-color: #181818;
  max-width: 1920px;
  max-height: 125px;
}

.header-row {
  display: flex;
  justify-content: center;
  padding: 49px 12px;
}

.arenda {
  margin-right: 10px;
  justify-content: center;
  font-size: 22px;
  line-height: 28px;
  color: white;
  margin-right: 100px;
  margin-top: -1px;
  font-family: "Inter", sans-serif;
}

.content-2 {
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  width: 178px;
  height: 38px;
}

.header-text {
  text-decoration: none;
  justify-content: center;
  list-style-type: none;
}

.header-text ul {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  list-style-type: none;
}

.header-text li a {
  text-align: center;
  text-decoration: none;
  color: white;
  justify-content: center;
  padding: 30px;
  font-family: "PP Pangram Sans", sans-serif;
}

.img-soc {
  width: 48px;
  height: 19px;
  margin-left: 50px;
}

.img-2 {
  width: 104px;
  height: 46px;
  margin-left: 190px;
  margin-top: -10px;
}

.header-tel {
  justify-content: center;
  text-decoration: none;
  color: white;
  margin-top: -18px;
  margin-left: 50px;
}

.bth {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: white;
  border: 1px solid grey;
  margin-left: 250px;
  margin-top: -50px;
  padding: 8px 20px;
  border-radius: 10px;
  font-family: "PP Pangram Sans", sans-serif;
}

.container-2 {
  max-width: 1920px;
}

.img-3 {
  max-width: 1920px;
  height: 966px;
}

.text-center {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: -900px;
  font-size: 69px;
  line-height: 81px;
  color: white;
  font-family: "Unbounded", sans-serif;
}

.text-center2 {
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 32px;
  color: white;
  font-family: "Unbounded", sans-serif;
}

.hr {
  text-align: center;
  display: flex;
  justify-content: center;
  border: 1px solid #ffffff 30%;
  position: absolute;
  width: 1320px;
  margin-top: 100px;
  margin-left: 250px;
}

.info-number {
  display: grid;
  grid-template-columns: repeat(5, 300px);
  margin-top: 200px;
  color: white;
}

.number-1 {
  margin-left: 280px;
  margin-top: -20px;
}

.number1 {
  margin-left: 20px;
  margin-top: -20px;
  font-family: "PP Pangram Sans", sans-serif;
}

.number-2 {
  margin-right: 70px;
  margin-top: -70px;
}

.number2 {
  margin-left: 40px;
  margin-top: -35px;
  font-family: "PP Pangram Sans", sans-serif;
}

.number-3 {
  margin-top: -30px;
}

.number3 {
  margin-left: 50px;
  margin-top: -30px;
  font-family: "PP Pangram Sans", sans-serif;
}

.number-4 {
  margin-top: -10px;
}

.number4 {
  margin-left: 1250px;
  margin-top: -50px;
  font-family: "PP Pangram Sans", sans-serif;
}

.number-5 {
  margin-left: 1100px;
  margin-top: -40px;
}

.number5 {
  margin-left: 860px;
  margin-top: -40px;
  font-family: "PP Pangram Sans", sans-serif;
}

.content3 {
  display: flex;
  background-color: white;
  width: 1300px;
  padding: 100px 0px;
  position: absolute;
  margin-left: 270px;
  margin-top: 100px;
  border-radius: 20px;
  height: 51px;
}

.text-logo {
  margin-top: -80px;
  padding: 0px 90px;
  font-size: 22px;
  line-height: 29px;
  color: black;
}

.bth-t {
  margin-left: -430px;
  margin-top: 30px;
  padding: 0 20px;
}

.bth1 {
  padding: 30px 35px;
  background-color: #F5F5F5;
  color: #A4A4A4;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  border-radius: 10px;
  margin-left: -15px;
}

.img-v4 {
  margin-left: -5px;
  position: absolute;
  width: 14px;
  height: 16px;
}

.img-v5 {
  margin-left: 30px;
  position: absolute;
  width: 14px;
  height: 16px;
}

.bth2 {
  padding: 30px 35px;
  background-color: #F5F5F5;
  color: #A4A4A4;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 20px;
}

.grid-g {
  display: grid;
  grid-template-columns: repeat(3, 300px);
}

.content-grid-g {
  display: flex;
  margin-left: 760px;
  margin-top: 200px;
  position: absolute;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.check {
  width: 20px;
  height: 20px;
  margin-top: 14px;
  padding: 0 10px;
}

.check1 {
  width: 20px;
  height: 20px;
  margin-top: 14px;
  padding: 0 10px;
}

.content-grid-g2 {
  display: flex;
  margin-left: 760px;
  margin-top: 240px;
  position: absolute;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.text-vn2 {
  margin-left: -10px;
  font-family: "PP Pangram Sans", sans-serif;
}

.text-vn3 {
  padding: 0 40px;
  margin-left: -30px;
  font-family: "PP Pangram Sans", sans-serif;
}

.text-vn4 {
  margin-left: -4px;
  font-family: "PP Pangram Sans", sans-serif;
}

.check2 {
  width: 20px;
  height: 20px;
  margin-top: 15px;
}

.text-vn5 {
  margin-left: -3px;
  font-family: "PP Pangram Sans", sans-serif;
}

.bth-n {
  background: linear-gradient(67.38deg, #9F7437 9.19%, #E3D293 92.03%);
  text-decoration: none;
  padding: 33px 34px;
  color: white;
  border-radius: 10px;
  margin-left: 580px;
  margin-top: 15px;
  font-family: "PP Pangram Sans", sans-serif;
}

.table {
  display: grid;
  margin-top: 110px;
  grid-template-columns: repeat(5, 800px);
}

.grid-car {
  display: flex;
}

.bth-a1 {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  padding-left: 60px;
  margin-left: 270px;
  font-family: "PP Pangram Sans", sans-serif;
}

.bth-a2 {
  background-color: white;
  color: black;
  padding: 10px 40px;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 20px;
  padding-left: 60px;
  font-family: "PP Pangram Sans", sans-serif;
}

.bth-a3 {
  background-color: #EAEAEA;
  color: black;
  padding: 10px 40px;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 20px;
  padding-left: 60px;
  font-family: "PP Pangram Sans", sans-serif;
}

.bth-a4 {
  background-color: white;
  color: black;
  padding: 10px 40px;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 20px;
  padding-left: 60px;
  font-family: "PP Pangram Sans", sans-serif;
}

.bth-a5 {
  background-color: white;
  color: black;
  padding: 10px 40px;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 20px;
  padding-left: 60px;
  font-family: "PP Pangram Sans", sans-serif;
}

.vector-car1 {
  width: 30px;
  height: 12px;
  position: absolute;
  margin-left: 284px;
  margin-top: 27px;
}

.vector-car2 {
  width: 36px;
  height: 10px;
  position: absolute;
  margin-left: 480px;
  margin-top: 30px;
}

.vector-car3 {
  width: 36px;
  height: 10px;
  position: absolute;
  margin-left: 660px;
  margin-top: 30px;
}

.img-cursor2 {
  width: 17px;
  height: 22px;
  margin-top: 60px;
  margin-left: 770px;
  position: absolute;
}

.vector-car4 {
  width: 43px;
  height: 10px;
  position: absolute;
  margin-left: 844px;
  margin-top: 30px;
}

.vector-car5 {
  width: 33px;
  height: 12px;
  position: absolute;
  margin-left: 1040px;
  margin-top: 30px;
}

.img-8 {
  display: flex;
  margin-top: -90px;
}

.text-logo2 {
  display: block;
  font-size: 37px;
  line-height: 62px;
  margin-left: 250px;
  margin-top: 500px;
  font-family: "Unbounded", sans-serif;
}

.bth-s {
  margin-left: 820px;
  margin-top: -90px;
}

.bth-s a {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 20px 30px;
  border-radius: 10px;
  font-family: "PP Pangram Sans", sans-serif;
}

.content4 {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  justify-content: center;
  margin-top: 40px;
}

.grid1 {
  display: block;
  width: 424px;
  height: 404px;
  background-color: white;
  text-align: center;
  margin-top: 50px;
  padding: 0 24px;
  border-radius: 10px;
}

.car1 {
  margin-top: 30px;
}

.m-img {
  width: 59px;
  height: 27px;
  margin-left: 380px;
  margin-top: 290x;
}

.d-img {
  width: 59px;
  height: 27px;
  margin-left: 380px;
  margin-top: -290x;
}

.text-car1 {
  font-size: 20px;
  line-height: 20px;
  color: black;
  margin-right: 180px;
}

.center1 {
  margin-right: 90px;
}

.hr2 {
  width: 324px;
  border: 1px solid #EBEBEB;
  margin-top: 20px;
}

.bth-car1 {
  background: linear-gradient(67.38deg, #9F7437 9.19%, #E3D293 92.03%);
  text-decoration: none;
  color: white;
  padding: 12px 22px;
  margin-right: 150px;
  border-radius: 20px;
  margin-top: 20px;
}

.arenda-car1 {
  margin-left: 170px;
  margin-top: -20px;
  color: black;
  font-size: 20px;
  line-height: 20px;
}

.text-info {
  font-size: 28px;
  line-height: 38px;
  color: black;
  display: block;
  justify-content: center;
  margin-top: 80px;
  margin-left: 200px;
  font-family: "PP Pangram Sans", sans-serif;
}

.text-info2 {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #9F9F9F;
  justify-content: center;
  margin-left: 200px;
  font-family: "PP Pangram Sans", sans-serif;
}

.logo2 {
  display: flex;
  margin-top: -700px;
  color: white;
  font-size: 48px;
  line-height: 62px;
  margin-left: 200px;
  font-family: "Unbounded", sans-serif;
}

.info1 {
  display: flex;
  margin-left: 200px;
  font-size: 28px;
  line-height: 32px;
  color: white;
  font-family: "Unbounded", sans-serif;
}

.info2 {
  font-size: 18px;
  line-height: 30px;
  color: white;
  margin-left: 200px;
  font-family: "PP Pangram Sans", sans-serif;
}

.menu1 {
  justify-content: center;
  margin-top: -300px;
  margin-left: 1200px;
  padding: 60px 40px;
  position: absolute;
}

.bth3 {
  padding: 20px 0;
  text-decoration: none;
  color: #181818;
  display: flex;
  border: 2px solid white;
  background-color: white;
  padding: 20px 40px;
  border-radius: 10px;
}

.bth4 {
  border: 2px solid white;
  color: #A4A4A4;
  display: flex;
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 10px;
}

.bth5 {
  color: #ffffff;
  border: 2px solid white;
  text-decoration: none;
  padding: 20px 70px;
  margin: 20px 10px;
  border-radius: 10px;
  margin-top: 50px;
}

.img-11 {
  margin-top: 6px;
  margin-left: 1245px;
  position: absolute;
}

.img-9 {
  display: flex;
  margin-left: 1240px;
}

.text-img {
  display: flex;
  color: white;
  margin-left: 1270px;
  margin-top: -20px;
}

.text-logo3 {
  font-size: 48px;
  line-height: 62px;
  color: black;
  margin-top: 300px;
  justify-content: center;
  margin-left: 190px;
  font-family: "Unbounded", sans-serif;
}

.block3 {
  display: grid;
  grid-template-columns: repeat(2, 900px);
  justify-content: center;
  border-radius: 10px;
}

.content-grid1 {
  padding-left: 100px;
  background-color: white;
  width: 628px;
  height: 530px;
  padding: 0px 20px;
  margin-left: 200px;
  border-radius: 20px;
}

.content-grid2 {
  padding-left: 100px;
  background-color: white;
  width: 628px;
  height: 530px;
  padding: 0px 20px;
  border-radius: 20px;
}

.img-10 {
  width: 648px;
  height: 391px;
  margin-right: 20px;
}

.img-str1 {
  position: absolute;
  margin-left: 570px;
  margin-top: 20px;
}

.img-str2 {
  position: absolute;
  margin-left: 570px;
  margin-top: 20px;
}

.text-log {
  font-size: 20px;
  line-height: 20px;
  color: black;
  padding: 0 40px;
  font-family: "PP Pangram Sans", sans-serif;
}

.info3 {
  font-size: 16px;
  line-height: 18px;
  color: #989898;
  padding: 0 40px;
  font-family: "PP Pangram Sans", sans-serif;
}

.text-logo4 {
  font-size: 48px;
  line-height: 60px;
  color: black;
  justify-content: center;
  display: flex;
  font-family: "Unbounded", sans-serif;
}

.content5 {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  justify-content: center;
}

.grid-info1 {
  display: block;
  width: 404px;
  height: 252px;
  background-color: white;
  margin-top: 50px;
  padding: 0 24px;
  border-radius: 20px;
}

.img-v11 {
  width: 50px;
  height: 50px;
  margin-top: 30px;
  margin-left: 40px;
}

.img-g1 {
  margin-left: -5px;
  width: 24px;
  height: 24px;
  margin-top: 30px;
}

.text-logo5 {
  margin-left: 150px;
  margin-top: -30px;
  font-family: "PP Pangram Sans", sans-serif;
}

.text-info4 {
  margin-left: 150px;
  font-family: "PP Pangram Sans", sans-serif;
}

.block5 {
  margin-top: 100px;
}

.logo-3 {
  justify-content: center;
  margin-top: -700px;
  color: white;
  font-size: 58px;
  line-height: 62px;
  margin-left: 250px;
  font-family: "Unbounded", sans-serif;
}

.info-text {
  color: white;
  font-size: 28px;
  line-height: 38px;
  margin-left: 250px;
  font-family: "PP Pangram Sans", sans-serif;
}

.info-text2 {
  color: #A4A4A4;
  font-size: 18px;
  line-height: 30px;
  margin-left: 250px;
  font-family: "PP Pangram Sans", sans-serif;
}

.table4 {
  margin-left: 1100px;
  margin-top: -600px;
  justify-content: center;
  position: absolute;
  width: 536px;
  height: 448px;
  background-color: white;
  border-radius: 20px;
}

.Vector14 {
  width: 18px;
  height: 24px;
  margin-top: -20px;
  margin-left: 465px;
  position: absolute;
}

.Ellipse {
  margin-top: -290px;
  width: 50px;
  height: 50px;
  margin-left: 450px;
}

.img-car2 {
  width: 536px;
  height: 274px;
}

.logo4 {
  color: black;
}

.s-img {
  margin-top: 70px;
  width: 122px;
  height: 54px;
}

.img-cursor3 {
  width: 17px;
  height: 22px;
  margin-top: 110px;
  margin-left: -23px;
  position: absolute;
}

.n-img {
  margin-top: 70px;
  margin-left: 50px;
  width: 38px;
  height: 40px;
}

.block6 {
  margin-top: 200px;
}

.logo5 {
  margin-left: 300px;
  color: black;
  font-size: 48px;
  line-height: 62px;
  font-family: "Unbounded", sans-serif;
}

.str-img {
  margin-top: 400px;
  margin-left: 200px;
}

.content7 {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  justify-content: center;
}

.grid3 {
  display: flex;
  padding: 0 120px;
}

.info-text4 {
  margin-top: 580px;
  position: absolute;
  margin-left: 20px;
  color: black;
  font-size: 20px;
  line-height: 28px;
  font-family: "PP Pangram Sans", sans-serif;
}

.info-text5 {
  margin-top: 580px;
  position: absolute;
  margin-left: 480px;
  color: black;
  font-size: 20px;
  line-height: 28px;
  font-family: "PP Pangram Sans", sans-serif;
}

.info-text6 {
  margin-top: 580px;
  position: absolute;
  margin-left: 950px;
  color: black;
  font-size: 20px;
  line-height: 28px;
  font-family: "PP Pangram Sans", sans-serif;
}

.bg-img {
  width: 424px;
  height: 540px;
  padding: 0 20px;
}

.str-img {
  width: 54px;
  height: 54px;
  margin-top: 575px;
  margin-left: -70px;
}

.logo6 {
  margin-top: 150px;
  color: black;
  font-size: 48px;
  line-height: 62px;
  margin-left: 380px;
  font-family: "Unbounded", sans-serif;
}

.content8 {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  justify-content: center;
  margin-left: 200px;
}

.gr-img {
  margin-left: 100px;
}

.logo7 {
  margin-left: -260px;
  font-size: 20px;
  line-height: 28px;
  color: black;
  font-family: "PP Pangram Sans", sans-serif;
}

.info4 {
  margin-top: 70px;
  margin-left: -770px;
  font-size: 16px;
  line-height: 26px;
  color: #989898;
  font-family: "PP Pangram Sans", sans-serif;
}

.grid-1 {
  margin-left: 1000px;
  margin-top: -200px;
  padding: 20px;
}

.gr-img2 {
  margin-top: 55px;
  margin-left: -100px;
}

.logo8 {
  margin-top: -100px;
  margin-left: 30px;
  font-size: 20px;
  line-height: 28px;
  color: black;
  font-family: "PP Pangram Sans", sans-serif;
}

.info5 {
  margin-left: 30px;
  font-size: 16px;
  line-height: 26px;
  color: #989898;
  font-family: "PP Pangram Sans", sans-serif;
}

.container3 {
  width: 1860px;
  height: 1459px;
}

.text-content {
  padding: 0 300px;
}

.logo-9 {
  font-size: 48px;
  line-height: 62px;
  color: white;
  margin-top: -1400px;
  font-family: "Unbounded", sans-serif;
}

.info6 {
  color: white;
  font-size: 28px;
  line-height: 38px;
  font-family: "PP Pangram Sans", sans-serif;
}

.info7 {
  color: #9F9F9F;
  font-size: 20px;
  line-height: 30px;
  font-family: "PP Pangram Sans", sans-serif;
}

.img-car34 {
  justify-content: center;
  margin-left: 740px;
  margin-top: -600px;
  width: 560px;
  height: 580px;
  border-radius: 20px;
}

.img-36 {
  margin-left: 300px;
  padding: 30px 0;
}

.logo10 {
  color: white;
  font-size: 48px;
  line-height: 62px;
  margin-left: 830px;
  margin-top: -570px;
  font-family: "Unbounded", sans-serif;
}

.info8 {
  margin-left: 830px;
  color: #9F9F9F;
  font-size: 18px;
  line-height: 30px;
  font-family: "PP Pangram Sans", sans-serif;
}

.tel {
  color: white;
}

.text8 {
  color: white;
  margin-top: -30px;
  font-family: "PP Pangram Sans", sans-serif;
}

.grid-n {
  display: grid;
  grid-template-columns: repeat(3, 500px);
}

.content-n {
  display: grid;
  margin-left: 830px;
  margin-top: 140px;
}

.n8-img {
  width: 21px;
  height: 21px;
  margin-top: 0px;
  margin-left: -50px;
}

.img8 {
  margin-top: 30px;
}

.img9 {
  margin-left: 300px;
  margin-top: -50px;
}

.img10 {
  margin-left: 600px;
  margin-top: -50px;
}

.block-img {
  display: flex;
  background-color: white;
  margin-top: 200px;
  width: 1860px;
  height: 280px;
  border-radius: 36px;
  justify-content: center;
}

.img-logo {
  padding: 30px 50px;
}

.content-img {
  margin-left: 300px;
  margin-top: 150px;
}

.text-content2 {
  margin-left: 900px;
  margin-top: -750px;
}

.logo11 {
  color: black;
  font-size: 48px;
  line-height: 62px;
  font-family: "Unbounded", sans-serif;
}

.info9 {
  color: #9F9F9F;
  font-size: 18px;
  line-height: 30px;
}

.tel2 {
  color: black;
  font-size: 20px;
  line-height: 24px;
}

.menu2 {
  justify-content: center;
  margin-top: -20px;
  margin-left: 850px;
  padding: 60px 40px;
  position: absolute;
}

.bth6 {
  padding: 20px 0;
  text-decoration: none;
  color: #181818;
  display: flex;
  border: 2px solid white;
  background-color: white;
  padding: 20px 100px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.bth7 {
  background-color: white;
  color: #A4A4A4;
  display: flex;
  text-decoration: none;
  padding: 20px 100px;
  border-radius: 10px;
  margin-top: -10px;
}

.bth8 {
  background-color: black;
  color: #ffffff;
  text-decoration: none;
  padding: 20px 110px;
  border-radius: 10px;
  margin-bottom: 30px;
  position: absolute;
}

.img29 {
  margin-left: 880px;
  margin-top: 320px;
}

.strong-o {
  color: #9E9E9E;
}

.text-p {
  color: black;
  margin-left: 906px;
  margin-top: -30px;
  font-size: 14px;
  line-height: 20px;
}

.img-gal {
  margin-top: 325px;
  margin-left: 886px;
  position: absolute;
}

.block10 {
  background-color: black;
  width: 1460px;
  height: 534px;
  border-radius: 36px;
  color: white;
  padding: 30px 200px;
  margin-top: 130px;
}

.logo12 {
  color: white;
  font-size: 40px;
  line-height: 48px;
  padding: 40px 0;
}

.bth10 {
  margin-left: 230px;
  margin-top: -40px;
}

.bth10 a {
  text-decoration: none;
  border: 2px solid white;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
}

.text12 {
  margin-top: 10px;
  color: #AFAFAF;
  font-size: 12px;
  line-height: 12px;
}

.img-m {
  margin-top: -700px;
  margin-left: 200px;
  color: white;
  padding: 34px 0;
}

.text-y {
  margin-top: -280px;
  margin-left: 220px;
  color: #AFAFAF;
  font-size: 15px;
  line-height: 22px;
}

.img-m2 {
  margin-top: -300px;
  margin-left: 200px;
  color: white;
  padding: 34px 0;
}

.text-y2 {
  margin-top: -20px;
  margin-left: 220px;
  color: white;
  font-size: 15px;
  line-height: 22px;
}

.img-soc3 {
  margin-top: 20px;
  margin-left: 200px;
}

.img-cursor {
  width: 12px;
  height: 18px;
  margin-left: 245px;
  margin-top: -14px;
  position: absolute;
}

.grid-b {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  position: absolute;
  margin-left: 900px;
  margin-top: -360px;
}

.logo-grid {
  display: flex;
}

.logo13 {
  color: white;
  padding: 0 50px;
  font-size: 15px;
  line-height: 22px;
}

.info-grid {
  display: flex;
  margin-top: 70px;
  margin-left: -500px;
}

.info14 {
  color: #AFAFAF;
  padding: 0 44px;
  font-size: 16px;
  line-height: 24px;
}

.info15 {
  color: white;
  font-size: 16px;
  line-height: 24px;
}

.info-grid2 {
  display: flex;
  margin-top: 120px;
  margin-left: -2000px;
  justify-content: center;
}

.info-grid3 {
  display: flex;
  margin-top: -5px;
  padding: 0 2px;
}

.info-grid4 {
  display: flex;
  margin-top: 50px;
  margin-left: -500px;
}

.info-grid5 {
  display: flex;
  margin-top: 90px;
  margin-left: -1000px;
}

.hr3 {
  width: 648px;
  border: 1px solid #FFFFFF 100%;
  margin-left: 945px;
}

@font-face {
  font-family: "PPPangramSans";
  src: url(/font/PPPangramSans-Bold.woff) format("woff"), url(/font/PPPangramSans-Bold.woff2) format("woff2"), url(/font/PPPangramSans-CompactExtralightReclined.woff) format("woff"), url(/font/PPPangramSans-CompactExtralightReclined.woff2) format("woff2"), url(/font/PPPangramSans-CompactRegular.woff) format("woff"), url(/font/PPPangramSans-CompactRegular.woff2) format("woff2"), url(/font/PPPangramSans-CompactThinItalic.woff) format("woff"), url(/font/PPPangramSans-CompactThinItalic.woff2) format("woff2"), url(/font/PPPangramSans-CompressedExtrabold.woff) format("woff"), url(/font/PPPangramSans-CompressedExtrabold.woff2) format("woff2"), url(/font/PPPangramSans-CompressedMediumReclined.woff) format("woff"), url(/font/PPPangramSans-CompressedMediumReclined.woff2) format("woff2"), url(/font/PPPangramSans-CondensedThin.woff) format("woff"), url(/font/PPPangramSans-CondensedThin.woff2) format("woff2"), url(/font/PPPangramSans-ExtraboldItalic.woff) format("woff"), url(/font/PPPangramSans-ExtraboldItalic.woff2) format("woff2"), url(/font/PPPangramSans-Light.woff) format("woff"), url(/font/PPPangramSans-Light.woff2) format("woff2"), url(/font/PPPangramSans-Medium.woff) format("woff"), url(/font/PPPangramSans-Medium.woff2) format("woff2"), url(/font/PPPangramSans-NarrowExtraboldItalic.woff) format("woff"), url(/font/PPPangramSans-NarrowExtraboldItalic.woff2) format("woff2"), url(/font/PPPangramSans-NarrowExtralightReclined.woff) format("woff"), url(/font/PPPangramSans-NarrowExtralightReclined.woff2) format("woff2"), url(/font/PPPangramSans-NarrowSemibold.woff) format("woff"), url(/font/PPPangramSans-NarrowSemibold.woff2) format("woff2"), url(/font/PPPangramSans-NarrowSemiboldItalic.woff) format("woff"), url(/font/PPPangramSans-NarrowSemiboldItalic.woff2) format("woff2"), url(/font/PPPangramSans-NarrowExtralightReclined.woff) format("woff"), url(/font/PPPangramSans-NarrowExtralightReclined.woff2) format("woff2"), url(/font/PPPangramSans-NarrowSemibold.woff) format("woff"), url(/font/PPPangramSans-NarrowSemibold.woff2) format("woff2"), url(/font/PPPangramSans-NarrowSemiboldItalic.woff) format("woff"), url(/font/PPPangramSans-NarrowSemiboldItalic.woff2) format("woff2"), url(/font/PPPangramSans-Semibold.woff) format("woff"), url(/font/PPPangramSans-Semibold.woff2) format("woff2"), url(/font/PPPangramSans-SlimExtralight.woff) format("woff"), url(/font/PPPangramSans-SlimExtralight.woff2) format("woff2"), url(/font/PPPangramSans-SlimMediumReclined.woff) format("woff"), url(/font/PPPangramSans-SlimMediumReclined.woff2) format("woff2"), url(/font/PPPangramSans-SlimSemiboldItalic.woff) format("woff"), url(/font/PPPangramSans-SlimSemiboldItalic.woff2) format("woff2"), url(/font/PPPangramSans-Thin.woff) format("woff"), url(/font/PPPangramSans-Thin.woff2) format("woff2");
  font-weight: 400;
}
@media only screen and (max-width: 320px) {
  .container {
    max-width: 320px;
  }
  .img-2 {
    margin-left: 200px;
    position: absolute;
    width: 82px;
    height: 32px;
    margin-top: 1px;
  }
  .header-row .header-text {
    display: none;
  }
  .header-row .header-tel {
    display: none;
  }
  .header-row .arenda {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .header-row .img-soc {
    display: none;
  }
  .container-2 .img-3 {
    width: 305px;
    height: 470px;
  }
  .text-center {
    font-size: 32px;
    line-height: 40px;
  }
}/*# sourceMappingURL=style.css.map */